# NOTE: Store this token in GitHub: Go to your repository on GitHub > Settings > Secrets > New repository secret. Name it NPM_AUTH_TOKEN and paste the npm token as its value.
NPM_TOKEN=
NPM_REGISTRY=https://registry.npmjs.org/